body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #000;
}

.menu-container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: linear-gradient(45deg, #1a1a2e, #16213e);
}

.menu-image {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.clickable-area {
    position: absolute;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border: 3px solid rgb(255, 255, 255);
   
}

.clickable-area:hover {
    background: rgba(255, 255, 255, 0.2);
}

.gforce-option {
    position: absolute;
    display: block;
    transition: left 0.3s ease;
}



.gforce-option.shifted {
    left: 450px; /* Shifted right by 3cm (30px) */
}

.gforce-stats {
    position: absolute;
    top: 180px;
    left: 30px;
    width: 300px;
    height: 170px;
    display: block;
    color: white;
    font-family: 'Eurostyle', monospace;
    line-height: 1.5;
    padding: 20px;
    font-size: small;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: #4a90e2;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 100;
    left: 105%;
    white-space: nowrap;
    display: none;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.3);
}

.central-text {
    position: absolute;
    top: 100px;
    left: 38%;
    transform: translateX(-50%);
    width: 430px;
    color: #ffffff;
    font-family: 'Eurostyle', monospace;
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    transition: opacity 0.3s ease;
}

#return-area {
    top: 35px;
    left: 564px;
    width: 100px;
    height: 50px;
    z-index: 2;
    transition: all 0.3s ease;
}

#return-area-mgi {
    top: 28px;
    left: 595px; /* Décalé de 100 pixels vers la droite */
    width: 100px;
    height: 50px;
    z-index: 2;
    transition: all 0.3s ease;
}

.gforce-option.golgotha {
    top: 170px;
    left: 410px;
    width: 210px;
    height: 35px;
}

.gforce-option.shiva {
    top: 218px;
    left: 410px;
    width: 100px;
    height: 45px;
}